@import "tailwindcss";

@theme {
  --color-bg-app: #0d0e12;
  --color-card: #1f2028;
  --color-border-subtle: #2e303a;
  --color-input: #2a2c35;
  --color-brand: #5cf28a;
  --color-brand-hover: #34d399;
  --color-text: #e5e7eb;
  --color-text-muted: #9ca3af;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: var(--color-bg-app);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}
